body {
    background-image: url("/assets/images/harrybackground.png");
    background-size: cover;
}

h1, h2 {
     text-align: center;
    color: white;
    font-weight: 800;
    font-family: "Parry Hotter Regular";
}

Grid {
    justify-content: center;
}